html {
  background-color: #F08400;
  padding: 10px;
}

body {
  background-color: #E3DB96;
  padding: 10px;
  margin: 0;
}

.site-header {
  background: #333;
  margin-bottom: 50px;
}
.py-2 {
  color: #fff;
}

footer {
  position: fixed;
  margin-top: 30px;
  padding: 20px;
  color: #fff;
  background: #333;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
