html {
  background-color: #F08400;
  padding: 10px;
  margin-bottom: 50%;
}

body {
  background-color: #E3DB96;
  padding: 10px 10px 50px 10px;
  margin: 0;
}
// Nav
.site-header {
  background: #333;
  margin-bottom: 50px;
}
.py-2 {
  color: #fff;
}
// HomePage Jumbotron
.jumbotron {
  background: #E3DB96;
  padding: 0;
  text-align: center;
}
@media (max-width: 600px) {
  p {
    font-size: .25em;
    transition: ease all .5s;
  }
}

.footer {
  position: fixed;
  padding: 10px;
  margin: 0;
  color: #fff;
  background: #333;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
}
@media (max-width: 600px) {
  .footer {
    font-size: .5em;
    transition: ease all .75s;
  }
}
